<h1>Bartenders</h1>
<ul>
  <% @users.each do |user| %>
    <% if user.cocktails.present? %>
      <%= link_to user.email, user_path(user)  %>
      <% user.cocktails.each do |cocktail| %>
        <%= cocktail.name %>
      <% end %>
    <% end %>
  <% end %>
</ul>
