<div id="typed-strings">
  <h1>Time for something new?</h1>
  <h1>Looking for a night out?</h1>
  <h1>Discover great Bartenders in your area.</h1>
</div>
<span id="typed" class='h1'></span>


<p>Your Address</p>
<%= form_tag bartenders_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: 'form-control user_address',
    placeholder: '1 Example Steet'
  %>
  <%= submit_tag 'Search', class: 'btn btn-secondary' %>
<% end %>

<%= link_to 'or view popular bartenders in Berlin', bartenders_path %>
